.custom-shape-divider-top-1744800662 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin: 20px 0;
}

.custom-shape-divider-top-1744800662 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 92px;
}

.custom-shape-divider-top-1744800662 .shape-fill {
  fill: blue;
}
